body{
    background-color: black;
    background-size: cover;
    height: 2500px;
    width: auto;
    }
    h1{
        color: rgb(220, 146, 9);
        font-size: 40px;

    }
.img{
    margin-top: 100px;
    margin-left: 250px;
    margin-bottom: 100px;
    margin-right: 250px;
}
.anchor{
    text-align: justify;
    color: white;
}